@model MinesweeperMVC.Models.Board

<div id="game-container">

    @if (ViewData["Error"] != null)
    {
            <div class="alert alert-danger" role="alert">
            @ViewData["Error"]
            </div>
    }
    else if (ViewData["SuccessMessage"] != null)
    {
            <div class="alert alert-success" role="alert">
            @ViewData["SuccessMessage"]
            </div>
    }

    @* Check if the game is over and display the appropriate win or loss message *@
    @if (ViewData["GameOver"] != null && (bool)ViewData["GameOver"])
    {
        if (ViewData["WinMessage"] != null)
        {
            @Html.Partial("_WinMessage")
        }
        else if (ViewData["LossMessage"] != null)
        {
            @Html.Partial("_LossMessage")
        }
    }

    <div class="button-group">
        <form asp-action="RestartGame" asp-controller="Game" method="post">
            <button type="submit" id="restart-button">Restart Game</button>
        </form>
        <form asp-action="SaveGame" asp-controller="Game" method="post">
            <button type="submit" id="save-button">Save Game</button>
        </form>
    </div>

    <div id="timestamp">
        Last Update: @ViewData["Timestamp"]
    </div>

    @Html.Partial("_Board", Model)
</div>
