<button
    class="grid-cell btn @(Model.Visited ? "revealed" : "unrevealed") @(Model.Flagged ? "flagged" : "") @(Model.Visited && Model.Live ? "mine" : "")"
    data-flagged="@Model.Flagged"
    data-row="@Model.Row"
    data-col="@Model.Column"
    data-neighbors="@Model.LiveNeighbors"
@(Model.Visited ? "disabled=\"disabled\"" : "")>
    @if (Model.Flagged)
    {
            <span>🚩</span>
    }
    else if (Model.Visited)
    {
        @if (Model.Live)
        {
                    <span>💣</span>
        }
        else
        {
                    <span>@(Model.LiveNeighbors > 0 ? Model.LiveNeighbors.ToString() : "")</span>
        }
    }
</button>
